
header{
    background-color: rgb(182, 139, 0);
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
main{
    background-color: rgb(247, 237, 96);
    width: 100vw;
    height: 85vh;
    }
*{
    margin: 0px;
    padding: 0px;
    }
img{
    width: 50vw;
    margin: 0px;
    }
main{
    display: flex;
    }
h1{
    color:rgb(247, 237, 96) ;
    font-size: 50px;
    font-family: sans-serif;
    }

